<?xml version="1.0"?>
<config>
    <modules>
        <Macopedia_Trbo>
            <version>1.0.0</version>
        </Macopedia_Trbo>
    </modules>
    <global>
        <blocks>
            <macopedia_trbo>
                <class>Macopedia_Trbo_Block</class>
            </macopedia_trbo>
        </blocks>
        <helpers>
            <macopedia_trbo>
                <class>Macopedia_Trbo_Helper</class>
            </macopedia_trbo>
        </helpers>
        <models>
            <macopedia_trbo>
                <class>Macopedia_Trbo_Model</class>
            </macopedia_trbo>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <macopedia_trbo>
                    <file>macopedia/trbo.xml</file>
                </macopedia_trbo>
            </updates>
        </layout>
    </frontend>
    <default>
        <macopedia_trbo>
            <general>
                <enable>0</enable>
            </general>
        </macopedia_trbo>
    </default>
</config>
